/* Global Styles */
body {
    background-color: #1a1a1a; /* Dark background */
    color: #f5f5f5; /* Light text */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #1a1a1a;
    color: #39ff14; /* Neon green for anime aesthetic */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 4px solid #39ff14; /* Neon border */
}

.flex-title {
    font-size: 2rem;
    color: #39ff14;
    text-decoration: none;
}

.border-line {
    border-bottom: 2px solid #39ff14; /* Neon border separating header and content */
    width: 100%;
}

/* Search bar styles */
.search-bar {
    position: absolute;
    top: 25px;
    right: 20px;
}

.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}

/* Main Content Styles */
main {
    padding: 20px;
    background-color: #1a1a1a;
}

/* Series Container */
#seriesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.series-card {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.series-card img {
    max-width: 100%;
    border-radius: 10px;
}

.series-card h3 {
    color: #39ff14;
    margin: 10px 0;
}

.series-card p {
    color: #fff;
}

/* Announcement link */
.announcement-link a {
    font-size: 1.2rem;
    color: #39ff14;
    text-decoration: none;
}

.announcement-link a:hover {
    text-decoration: underline;
}
